(
  title: "rust-bomberman",
  fullscreen: false,
  dimensions: None,
  min_dimensions: None,
  max_dimensions: None,
  vsync: true,
  multisampling: 4, // Easy solution for non-jagged lines.
  visibility: true,
)
